h1 {
    color: white;
    text-align: center;
    font-size:  38px;
    background-color:black;
}

h2{
    color:white;
    font-size: 32px;
}

P{
    color: white;
    font-size: 18px;
}

#leftbox { 
    float:left;  
    color: white;
    width:25%; 
    height:280px; 
} 
#middlebox{ 
    float:left;  
    color: white; 
    width:50%; 
    height:280px; 
} 
#rightbox{ 
    float:right; 
    color:white; 
    width:25%; 
    height:280px; 
} 

body {
    background-image: url("Ten.jpg");
}   